<!doctype html>
<html>
    <head>
        <title>Economic face game</title>
        <script src="/static/lib/jquery-min.js" type="text/javascript"></script>
        <script src="/static/lib/underscore-min.js" type="text/javascript"></script>
        <script src="/static/lib/backbone-min.js" type="text/javascript"></script>

        <script src="/static/js/jspsych/jspsych.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-single-stim.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-likert.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-text.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-multi-choice.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-face-multi-choice.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-face-likert.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-prisdil-no-face.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-face-prisdil-continuous.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-comprehension.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-instructions.js" type="text/javascript"></script>
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <script src="/static/js/psiturk.js" type="text/javascript"></script>

        <!-- the scripts below are added by amanda -->
        <script src="/static/js/jspsych/plugins/jspsych-html-keyboard-response.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-image-keyboard-response.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-text-req.js" type="text/javascript"></script>







        <script src="/static/js/jspsych/plugins/jspsych-face-likert-amanda.js" type="text/javascript"></script>





        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
            var condition = {{ condition }}; // the condition number
            var counterbalance = {{ counterbalance }}; // a number indexing counterbalancing conditions
        </script>

        <link href="/static/css/jspsych.css" rel="stylesheet" type="text/css">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id='jspsych-target' class='center-content'></div>
    </body>



{#        <script src="/static/js/gt/stim_gt_attractive.js" type="text/javascript"></script>#}
{#    <script src="/static/js/gt/task_gt_attractive.js" type="text/javascript"></script>#}

{#    <!-- the scripts controls the task stimuli list, will need to change if switching from attractive to other traits. -->#}
{#        <script src="/static/js/gt/stim_gt_aggressive.js" type="text/javascript"></script>#}
{##}
{#    <!-- experiment logic script -->#}
{#    <script src="/static/js/gt/task_gt_aggressive.js" type="text/javascript"></script>#}
    <!-- the scripts controls the task stimuli list, will need to change if switching from attractive to other traits. -->
{#        <script src="/static/js/gt/stim_gt_trustworthy.js" type="text/javascript"></script>#}
{##}
{#    <!-- experiment logic script -->#}
{#    <script src="/static/js/gt/task_gt_trustworthy.js" type="text/javascript"></script>#}

{#        <script src="/static/js/gt/stim_gt_intelligent.js" type="text/javascript"></script>#}
{##}
{#    <!-- experiment logic script -->#}
{#    <script src="/static/js/gt/task_gt_intelligent.js" type="text/javascript"></script>#}

        <script src="/static/js/modifae_single/stim_modifae_attractive.js" type="text/javascript"></script>

    <!-- experiment logic script -->
    <script src="/static/js/modifae_single/task_modifae_attractive.js" type="text/javascript"></script>

</html>
