<style>
    * {
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

</style>

<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h4>
            Here is another example, watch carefully about the subtle differences.
        </h4>

        <h4><b>Most people</b> think the <b><font color="blue">right face</font></b> looks more intelligent. So you should choose the <b><font color="blue">right</font></b> face.
        </h4>

        <h4>
            Press <b><font color="blue">B</font></b> to choose the <b><font color="blue">right</font></b> face.
        </h4>

        <div class="row">
          <div class="column">
{#              <img src="/static/images/modifae_pairwise/intelligent/136172_-0.5.png" alt="Low" style="width:100%">#}
                            <img src="/static/images/modifae_pairwise/intelligent_new/136172_-1.png" alt="Low" style="width:100%">

          </div>
          <div class="column">
              <img src="/static/images/modifae_pairwise/intelligent_new/136172_1.png" alt="High" style="width:100%">
          </div>
        </div>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
