<style>
    * {
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

</style>


<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />


	<div class="instructions well">
        <h4>
            Your task is to choose which face looks <b><font color="red">more attractive</font></b> in most people's eyes. In most image pairs, there are subtle differences.
            Your choice should be the same with other people.
        </h4>

        <h4>
            Press <b><font color="red">A</font></b> to select the <b><font color="red">left</font></b> face, press <b><font color="blue">B</font></b> to choose the <b><font color="blue">right</font></b> face.
        </h4>

        <h4>
            For example, <b>most people</b> think the <b><font color="red">left face</font></b> looks more attractive. So you should choose the <b>left</b> one by pressing <b><font color="red">A</font></b>.
        </h4>


        <div class="row">
          <div class="column">
{#              <img src="/static/images/gt_pairwise/intelligent-high-0.png" alt="High" style="width:100%">#}
                            <img src="/static/images/gt_pairwise/attractive-high-0.png" alt="High" style="width:100%">
          </div>
          <div class="column">
{#              <img src="/static/images/gt_pairwise/intelligent-low-0.png" alt="Low" style="width:100%">#}
                            <img src="/static/images/gt_pairwise/attractive-low-0.png" alt="Low" style="width:100%">
          </div>
        </div>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
