<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h4>
            You will see 100 pairs of faces. Please finish within 30 minutes.
        </h4>

        <h4>
            Try to make sense of what <b>most people think</b> and we will compare your responses with others.
        </h4>

        <h4>
            You may see the same pair more than once (the left-right order might be flipped). Watch carefully and make <b>consistent</b> choices.
        </h4>

        <h4>
            Your HIT will be accepted if more than <b><font color="red">70%</font></b> of your choices align with most people <b>and</b>
            more than <b><font color="red">70%</font> </b>of your own choices are <font color="red">consistent</font> when seeing the same pair (choosing the same face in spite of the potential flipped left-right order).
        </h4>

        <h4>Press <b><font color="red">A</font></b> to choose the <b><font color="red">left</font></b> face, press <b><font color="blue">B</font></b> to choose the <b><font color="blue">right</font></b> face.
        </h4>

        <h4>Don't press until both faces are loaded.
        </h4>

        <h4>
            Have fun :)
        </h4>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin task <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
